    
        body{
            font-family: Arial,sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        h1,h2,h3,h4,h5{
            color: black;
        }
        h1{
            padding: 20px;
            text-align: left;
        }
        h2 {
            font-size: 2.5;
            text-transform: capitalize;
        }
        p{
            color:black;
            font-style: italic;
            text-decoration: underline;
            font-size: 2;
        }
        .toplinks{
            background-color: rgb(0, 255, 102);
            padding: 20px;
            text-align: center;
            margin-bottom: 40px;
        }
        .highlight{
            text-decoration: underline;
            font-size: 20px;
            background-color: aquamarine;
            padding: 20px;
        }
        
         a{

            font-size: 17px;
            padding: 20px;
            text-decoration: none;
            color: violet;
            background-color: black;
        }
        a:hover{
            background-color: aliceblue;
            color: crimson;
            text-decoration: none;
        }
        .banner{
            padding: 20px;
            text-align: center;
            color: rgb(31, 1, 37)
        }
        .row::after{
            content: "";
            clear: both;
            display: block;
        }
        .content{
            float: left;
            width: 70%;
            padding: 20px;

        }
        .sidebar{
            float: left;
            width: 30%;
            padding: 20px;
        }
        
        .footer{
            background-color: blueviolet;
            color: aliceblue;
            text-align: center;
            padding: 10px;
            font-size: small;
        }
        table th{
            border: 1px solid grey;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(even){
            background-color: aqua;
        }
        tr:hover{
            background-color: chartreuse;
        }
        .team_img{
            overflow: hiddden;
            text-align: center;
        }
        .team_img img{
            width: ;
        }
    